h1{
    padding-top: 5px;
    color: $black;
    font-family: $fuente1;
    font-size:$s;
}
h2{
    color: $black;
    font-family: $fuente2;
    font-size: $xxx-l;
    padding-top: 160px;
   

}
h3{
    color: $black;
    font-family: $fuente2;
    font-size: $s;
    padding: 0;
    margin: 0;
  
}
h6{
    color: $black;
    font-family: $fuente2;
    font-size:$s;


}

@media (min-width: 600px){
    h1{
        font-family: $fuente1;
        font-size:$xx-l;
        color: $verde
        
    }
  
}
h2{
    color: $black;
    font-family: $fuente2;
    font-size: $xx-l;
    padding-top: 200px;
    font-weight: $light;
    

}
h3{
    color: $black;
    font-family: $fuente2;
    font-size: $l;
    padding: 0;
    margin: 0;
    
}
h4{
    color: $black;
    font-family: $fuente2;
    font-weight: 300;
    font-size: $xx-l;
}
h5{
    color: $black;
    font-family: $fuente2;
    font-size: $l;
    $light: 300;
}
h6{
    color: $black;
    font-family: $fuente2;
    font-size:$s;

}
p{
    font-family: $fuente2;
    color: $black;
    font-size: $s;
    line-height: 30px;
}