/*colores*/
$black: #000000;
$gris:#726f73;
$gris__claro: #aeacaf;
$blanco: #f7f7f7;
$verde: #2fa88a;

/*tipografias raleway open sans*/
@import url('https://fonts.googleapis.com/css?family=Condiment|Ledger');

$fuente1: 'Condiment', sans-serif;
$fuente2: 'Ledger','Open Sans', sans-serif;

//font-sizes

$xxx-l:90px;
$xx-l:50px;
$x-l:45px;
$l:26px;
$m:18px;
$s:15px;
$x-s:12px;


//typefaces
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$x-bold: 800;
$black: 900;