/*colores*/
$RaisingBlack: #221d23;
$Nickel:#726f73;
$SilverChalice: #aeacaf;
$Blanco: #f7f7f7;

/*tipografias raleway open sans*/
@import url('https://fonts.googleapis.com/css?family=Condiment|Ledger');

$fuente1: 'Condiment', sans-serif;
$fuente2: 'Ledger','Open Sans', sans-serif;
$xxxx-l:100px;
$xxxx-l:200px;
$xxx-l:40px;
$xx-l:35px;
$x-l:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-s:12px;


//typefaces
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$x-bold: 800;
$black: 900;