/*colores*/
$black: #000000;
$gris:#726f73;
$gris__claro: #aeacaf;
$blanco: #ffffff;
$verde: #2fa88a;

/*tipografias raleway open sans*/
@import url('https://fonts.googleapis.com/css?family=Condiment|Ledger');

// familia tipografica Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$fuente1: 'Condiment', sans-serif;
$fuente2: 'Ledger','Open Sans', sans-serif;
$fuente__base: 'Roboto', sans-serif;

//font-sizes

$xxx-l:90px;
$xx-l:50px;
$x-l:32px;
$l:26px;
$m:16px;
$s:13px;
$x-s:8px;


//typefaces
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$x-bold: 800;
$black: 900;