@charset "UTF-8";
/*colores*/
/*tipografias raleway open sans*/
@import url("https://fonts.googleapis.com/css?family=Condiment|Ledger");
body {
  padding: 0;
  margin: 0; }

h1 {
  padding-top: 5px;
  color: #221d23;
  font-family: "Condiment", sans-serif;
  font-size: 500;
  color: #1fd0dd; }

h2 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 40px;
  padding-top: 160px;
  mix-blend-mode: "difference"  ;
  filter: invert(100%);
  color: white; }

h3 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  mix-blend-mode: "difference"  ;
  filter: invert(100%);
  color: white; }

h6 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 14px;
  mix-blend-mode: "difference"  ;
  filter: invert(100%);
  color: white; }

@media (min-width: 600px) {
  h1 {
    font-family: "Condiment", sans-serif;
    font-size: 40px;
    color: #1fd0dd; } }
h2 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 40px;
  padding-top: 150px;
  color: black; }

h3 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  color: black; }

h4 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 35px; }

h5 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 20px; }

h6 {
  color: #221d23;
  font-family: "Ledger", "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-family: "Ledger", "Open Sans", sans-serif;
  color: #221d23;
  font-size: 12px;
  line-height: 30px; }

.navbar-brand {
  width: 80px;
  height: auto;
  margin: 0;
  padding: 0; }

.color__navbar {
  background: rgba(47, 168, 138, 0.185); }

.top-nav-collapse {
  background: #2fa88a; }

.fondo__transparente {
  -webkit-animation: fondo__transparente 0.5s;
  -moz-animation: fondo__transparente 0.5s;
  -ms-animation: fondo__transparente 0.5s;
  -o-animation: fondo__transparente 0.5s;
  animation: fondo__transparente 0.5s; }

.fondo__navbar {
  background-color: #adeafa;
  transition: all 0.5s;
  height: 95px;
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 40px; }

.nav {
  margin: 0px; }

@keyframes fondo__transparente {
  from {
    background-color: #adeafa; }
  to {
    background-color: rgba(173, 234, 250, 0); } }
.hero__section {
  background-image: url(../img/principal_mobile.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: inline-block;
  text-align: left; }

.texto__inicio {
  position: absolute;
  top: 300px;
  left: 10px; }

.iconos {
  height: 500px;
  width: 500px;
  width: auto;
  color: #1eb2a6;
  padding-top: 10px; }

@media (min-width: 600px) {
  .hero__section {
    background-image: url(../img/imagen_principal.jpg); }

  .texto__inicio {
    position: absolute;
    top: 150px;
    left: 50px;
    mix-blend-mode: "difference"  ;
    filter: invert(100%); } }
.info {
  background-color: #d4f8e8;
  margin: 0px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }

@media (min-width: 600px) {
  .info {
    margin: 0px;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center; } }
.proyectos {
  text-align: center; }

.nav-tabs {
  text-align: center;
  padding: 30px;
  margin-left: 30%; }

.tab-content {
  text-align: center; }

li {
  padding: 20px;
  text-align: center; }

ul {
  text-align: center; }

.proyectouno__ux {
  background-color: coral;
  width: 100%;
  height: 300px; }

.proyectodos__ux {
  background-color: #7b5686;
  width: 100%;
  height: 300px; }

/*# sourceMappingURL=style.css.map */
