.info{
    background-color:#d4f8e8;
    margin: 0px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
 
}
.iconos{
	
}
@media (min-width: 600px){
    .info{
		margin: 0px;
        padding: 20px;
        padding-left: 200px;
        padding-right: 200px;
        text-align: center;
     
}

}
//informacion personal
.algodemi{
	padding-top: 10%;
}
//estudios
.estudios{
	display: flex;
	justify-content: space-around;
	
}
.carrera{
	text-align: center;
}
.titulos__estudios{
	padding-bottom: 60%;
}





//tabs de galeria



li{
	padding: 20px;
}
.nav-tabs{
	display: flex;
	justify-content: center;

}


@media (min-width: 600px){
.proyectos{
	text-align: center;

}
.tabs__proyectos{
	display: inline-block;
}
}


//ESTILOS GRILLA ISOTOPE


  .grid-item{
	width: 25%;
	height: 300px;
	background-color: grey;
  }
  .grid-item{
	width: 100%;
	height: 300px;
	background-color: grey;
  }
  .grid-item:after{
	content:"";
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 5px #FFF;
	width: 100%;
	height: 100%;
  }
  .nav-tabs{
	  text-align: center;
	  display: flex;
	  justify-content: space-around;
	  
  }

  li{
	  text-align: center;
	 
  }
  
  .uxui{
	background-color: blue;
  }
  .grafica{
	background-color: magenta;
  }
  .editorial{
	background-color: yellow;
  }
  .packaging{
	background-color: red;
  }


  
  @media (min-width: 600px){
	.grid-item{
	width: 25%;
	height: 300px;
	background-color: grey;
  }
  .grid-item{
	width: 25%;
	height: 300px;
	background-color: grey;
  }
  .grid-item:after{
	content:"";
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid 5px #FFF;
	width: 100%;
	height: 100%;
  }
  .uxui{
	background-color: blue;
  }
  .grafica{
	background-color: magenta;
  }
  .editorial{
	background-color: yellow;
  }
  .packaging{
	background-color: red;
  }
  }


//hablemos correo
.fondo__hablemos{
	width: 100vw;
	height: 300px;
	background-color: rgb(123, 86, 134);

}
.contacto{
	text-align: center;
	align-items: center;
	padding-top: 100px;
}