.info{
    background-color:#d4f8e8;
    margin: 0px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
 
}
@media (min-width: 600px){
    .info{
        margin: 0px;
        padding: 20px;
        padding-left: 200px;
        padding-right: 200px;
        text-align: center;
     
}
}

.proyectos{
	text-align: center;
}
.nav-tabs{
	text-align: center;
	padding: 30px;
	margin-left: 30%;
	

}
.tab-content{
text-align: center;
}

li{
	padding: 20px;
	text-align: center;
}
ul{
	text-align: center;
}
.proyectouno__ux{
	background-color: coral;
	width: 100%;
	height: 300px;
}
.proyectodos__ux{
	background-color: rgb(123, 86, 134);
	width: 100%;
	height: 300px;
}
