.info{
    background-color:#d4f8e8;
    margin: 0px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
 
}
@media (min-width: 600px){
    .info{
		margin: 0px;
        padding: 20px;
        padding-left: 200px;
        padding-right: 200px;
        text-align: center;
     
}

}
//informacion personal
.algodemi{
	padding-top: 10%;
}

.nav-tabs{
	padding: 30px;
}


li{
	padding: 20px;
}
.nav-tabs{
	margin-left: -10%;
	padding-left: 100px;
	display: flex;
	justify-content: center;
}
a{
	text-decoration: none;
	color: white !important;
}
.btn__tabs{
	width: auto;
	height: 100%;
	background-color: black;
	color: white !important;

}

//fotos de proyectos, caratulas

.btn{
	width: 100%;
	height: 300px;
	margin: 0;
	padding: 0;
}
.proyectouno__ux{
	background-color: coral;
	width: 100%;
	height: 300px;
}
.proyectos{
	padding-top: 10%;
	padding-bottom: 30px;
	text-align: center;
}	




.proyectodos__ux{
	background-color: rgb(123, 86, 134);
	width: 100%;
	height: 300px;
}
.proyectotres__ux{
	background-color: rgb(80, 119, 177);
	width: 100%;
	height: 300px;
}
.proyectocuatro__ux{
	background-color: rgb(64, 168, 120);
	width: 100%;
	height: 300px;
}
.proyectocinco__ux{
	background-color: rgb(201, 194, 103);
	width: 100%;
	height: 300px;
}

.proyectoseis__ux{
	background-color: rgb(175, 44, 94);
	width: 100%;
	height: 300px;
}
//fin galeria


//hablemos correo
.fondo__hablemos{
	width: 100vw;
	height: 300px;
	background-color: rgb(123, 86, 134);

}
.contacto{
	text-align: center;
	align-items: center;
	padding-top: 100px;
}