.navbar-brand{
width: 80px;
height: auto;
margin: 0;
padding: 0;
}


.color__navbar{
    background: rgba(47, 168, 138, 0.185);
}
.top-nav-collapse{
    background: rgb(47, 168, 138);
}

.fondo__transparente {
    -webkit-animation: fondo__transparente 0.5s;
    -moz-animation: fondo__transparente 0.5s;
    -ms-animation: fondo__transparente 0.5s;
    -o-animation: fondo__transparente 0.5s;
    animation: fondo__transparente 0.5s;
  }

  .fondo__navbar {
    background-color: #adeafa;
    transition: all 0.5s;
    height: 95px;
    width: 100vw;
    margin:0;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 40px;
  }
  
  .nav{
      margin: 0px;
  }

@keyframes fondo__transparente {
    from { 
        background-color: rgba($color:  #adeafa, $alpha: 1);
    }

    to {
        background-color: rgba($color:  #adeafa, $alpha: 0);
    }
}
